/*Header of page*/
header {
    position: fixed;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #73000a;
    color: #ffffff;
}

/*div holding all input fields*/
.submission-fields {
    margin: 175px;
    margin-right: 0px;
    padding-left: 100px;
    padding-top: 275px;
    padding-right: 0px;
}
/*label for dropdown selection*/
.control-label {
    font-size: 25px;
    width: 230px;
}
/*drop down selection*/
.form-control {
    width: 450px;
}