.header
{
    background-color:#73000a;
    padding: 1em 2em;
    #margin-bottom:1em;

}
.nav
{
    background-color: #ccc;
    padding: 1em 2em;
    margin-bottom: 1em;
}
.col1
{

    border-style: solid;
    float: left;
    margin-left: 15%;
    width: 50%;
    margin-top: 5%;
}

.form-row
{

    margin-top: 1%;
    #text-align: center;
    text-align: right;
    margin-bottom: 1%;
    #padding: 5% 5%;
}
.form-row > label span
{
    #display: inline-block;
    #color: red;
    #box-sizing: border-box;
    #width: 50%;
    #text-align: center;
    #padding-right: 1%;
}

input
{
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.08);
    width: 300px;
    padding: 1px 1px;
}
.form-row .form-checkbox input
{
    #margin-left: 1%;
    #margin-right: 100%;
    width: auto;
    vertical-align: top;

}
.form-row .form-checkbox span
{
    font-size: 75%;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    #margin-right:80%;
}
#logo
{
    float: left;
    width: 9%;
    height: 8%;
}
#heading
{
color: white;
}
#dropdown
{
    width: 56%
}