/*Header of page*/
header {
    position: relative;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #73000a;
    color: #ffffff;
}

#heading {
    margin-top: -70px;
    margin-left: 120px;
}

#logo {
    width: 110px;
    height: 100px;
}
.loginClick {
    margin-left: 1175px;
    text-decoration: underline;
}
#label {
    z-index: 101;
    color: black;
}

.container {
    margin-left: 1100px;
    margin-top: 30px;
    margin-right: 30px;
}

/*div holding all input fields*/
.submission-fields {
    height: 600px;
    margin: 20px;
    margin-top: 0px;
    padding-left: 340px;
    text-align: left;
    border-style: solid;
}

/*label for Name*/
.Name {
    font-size: 25px;
    margin-top: 125px;
    height: 40px;
    width: 300px;
    text-align: right;
    position: relative;
    display: inline-block;
    
}

/*for input text field by Name*/
.studentName {
    font-size: 20px;
    margin-top: -45px;
    margin-left: 320px;
    width: 325px;
    position: relative;
    
}

/*label for phone number*/
.phone {
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    position: relative;
    text-align: right;
    
}

/*for input text field by Phone Number*/
.phoneNumber {
    font-size: 20px;
    margin-top: -45px;
    margin-left: 320px;
    width: 325px;
    position: relative;
    
}

/*label for VIP ID*/
.vip {
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    position: relative;
    text-align: right;
    
}

/*for input text field by VIP ID */
.idNumber {
    font-size: 20px;
    margin-top: -45px;
    margin-left: 320px;
    width: 325px;
    position: relative; 
      
}
/*label for dropdown selection*/
.reason {
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    position: relative;
    text-align: right;
    padding: 0px;
    
}
/*drop down selection*/
.dropdown {
    margin-left: 320px;
    margin-top: -45px;
    height: 40px;
    width: 360px;
    position: relative;
    
}

/*label for current major*/
.currentM {
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    position: relative;
    text-align: right;
    
}

/*for input text field by current major*/
.currentMajor {
     font-size: 20px;
    margin-top: -45px;
    margin-left: 320px;
    width: 325px;
    position: relative; 
      
}

/*label for intended major*/
.intendedM {
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    position: relative;
    text-align: right;
    
}

/*for text field next to intended major*/
.intendedMajor {
    font-size: 20px;
    margin-top: -45px;
    margin-left: 320px;
    width: 325px;
    position: relative; 
      
}

/*label for comments*/
.comment {
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    position: relative;
    text-align: right;
    
}

/*for text field next to comments*/
.otherComments {
    font-size: 20px;
    margin-top: -45px;
    margin-left: 320px;
    width: 325px;
    position: relative; 
      
}

.textSelect {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 225px;
    height: 40px;
    width: 475px;
    position: relative;
    text-align: left;
    
}

#submit {
    margin-left: 400px;
    
}
