.header
{
    background-color:#73000a;
    padding: 2.5em 2em;
    margin-bottom: 3em;
}

.header h4
{
    margin-left: 80%;
    color: #ccc;
    text-decoration: underline;
}

.img-responsive 
{
    float: left;
    width: 20%;
    height: auto;
}

.Login 
{
    width: 20%;
    margin-left: 80%;
    color: #ccc;
}
.studentContainer
 {
     float: left;
     margin-left: 8.5%;
     width: 85%;
     margin-top: 1%;
 }

#adminHeaders
{
    font-weight: bold;
}
#logo
{
    float: left;
    width: 9%;
    height: auto;
}

#heading
{
    color: white;
}
