.header
{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, #73000a, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #73000a), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    padding: 20px;
    margin: 0px;
    height: 140px;
    color: white;
}
body { 
    padding-right: 0 !important 
}

.header h4
{
    margin-left: 80%;
    color: white;
    text-decoration: underline;
}

.img-responsive 
{
    float: left;
    width: auto;
    height: auto;
}

.header .accounts-dialog a {
    color: #262626;
}

#checkTime {
    width: 10%;
    margin-left: 40%;
    color: white;
    text-decoration: underline;
}

.Login
{
    width: 15%;
    margin-left: 2%;
    margin-bottom: 10%;
    color: black;
}

.Login .login-close-text{
    color: black;
    text-decoration: underline;
}

.Login .login-link-text{
    color: white;
    text-decoration: underline;
}

/*.Login #login-email-label {
    width: 10%;
    margin-right: 10%;
    margin-left: 0%;
}
.Login #login-email {
    width: 70%;
    margin-bottom: 2%;
}

#forgot-password-email {
    width: 80%;
}

.Login #login-password-label {
    width: 10%;
    margin-left: 1%;
    margin-right: 0%;
}

.Login #login-password {
    width: 70%;
}
*/
.studentContainer
{
    float: left;
    margin-left: 8.5%;
    width: 85%;
    margin-top: 1%;
}

#adminHeaders
{
    font-weight: bold;
}

#logo
{
    float: left;
    width: 140px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#heading
{
    margin: 0px;   
}

.hiddenRow {
    padding: 0 !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  border-color: black;
}

.info {
	background-color: black;
	background: black;
	color: white;
}

#inner-heading {
	background-color:#73000a;
    width: 35px;
}
#inner-data{
    max-width:35px;

}
#top-heading {
	background-color: black;
	color: white;
    width: 35px;
}
.glyphicon-arrow-down {
    color: black;
}

#insert {
    margin-left: 28%;
    font-size: 265%;
    padding-bottom: 20px;
}
#parent{
    display:flex;
}

#drop-in {
    color: white;
    font-size: 100%;
    margin-top: 1%;
    width: 20%;
}

.loader{
    margin-left: 45%;
    margin-top: 2%;
    position: relative;
}

.loadTitle{
    margin-left: 39%;
    margin-top: 18%;
    color: #73000a;
    position: relative;
}
/*Outer most circle for load icon*/
 #outerCircle
{
	display:block;
	position:absolute;
	margin:0 auto;

	width:80px;
	height:80px;
	border-top:7px solid #73000a;
	border-bottom:7px solid #73000a;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
	
	box-shadow:0 0 20px black;
	-mozbox-shadow:0 0 20px black;
	-ms-box-shadow:0 0 20px black;
	-o-box-shadow:0 0 20px black;
	-webkit-box-shadow:0 0 20px black;
	
	-webkit-animation: cwSpin 1s linear .2s infinite;
	-moz-animation: cwSpin .666s linear .2s infinite;
	-o-animation: cwSpin .666s linear .2s infinite;
	-ms-animation: cwSpin .666s linear .2s infinite;
	animation: cwSpin .666s linear .2s infinite;
}

/*circle in middle of other two circles for load icon*/
 #innerCircle
{
	display:block;
	position:absolute;
	margin:20px 0 0 20px;
	
	width:40px;
	height:40px;
	border-top:7px solid #73000a;
	border-bottom:7px solid #73000a;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	-ms-border-radius:40px;
	-o-border-radius:40px;
	
	box-shadow:0 0 20px black;
	-webkit-box-shadow:0 0 20px black;
	-moz-box-shadow:0 0 20px black;
	-ms-box-shadow:0 0 20px black;
	-o-box-shadow:0 0 20px black;
	
	-webkit-animation: ccwSpin .555s linear .2s infinite;
	-moz-animation: ccwSpin .555s linear .2s infinite;
	-o-animation: ccwSpin .555s linear .2s infinite;
	-ms-animation: ccwSpin .555s linear .2s infinite;
	animation: ccwSpin .555s linear .2s infinite;
}

/*inner most circle for load icon*/
 #innerCircle #center
{
	display:block;
	margin:5px 0 0 5px;
	
	width:30px;
	height:30px;
	
	background-color:black;
	
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
}


/*Outer circle spin for load icon*/
@-webkit-keyframes cwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}

/*Inner circle spin for load icon*/
@keyframes cwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}

@-webkit-keyframes ccwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(-360deg); }
}
@-moz-keyframes ccwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(-360deg); }
}
@-ms-keyframes ccwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(-360deg); }
}
@-o-keyframes ccwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(-360deg); }
}
@keyframes ccwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(-360deg); }
}
