.header
{
    background-color:#73000a;
    padding: 2.5em 2em;
    margin-bottom: 3em;
}

.header h4
{
    margin-left: 80%;
    color: white;
    text-decoration: underline;
}

.img-responsive 
{
    float: left;
    width: 20%;
    height: auto;
}

.Login
{
    width: 20%;
    margin-left: 80%;
    color: white;
}

.studentContainer
{
    float: left;
    margin-left: 8.5%;
    width: 85%;
    margin-top: 1%;
}

#adminHeaders
{
    font-weight: bold;
}

#logo
{
    float: left;
    width: 9%;
    height: auto;
}

#heading
{
    color: white;
    
}

.hiddenRow {
    padding: 0 !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  border-color: black;
}

.info {
	background-color: black;
	background: black;
	color: white;
}

#inner-heading {
	background-color: black;
}

#top-heading {
	background-color: black;
	color: white;
}
.glyphicon-arrow-down {
    color: #DA1010;
}

.glyphicon-arrow-up {
    color: #4AFC37;
}